<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宅音乐播放器后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/global.css" media="all">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
{block name="header"}
{include file="common/header" /}
{/block}
{block name="side"}
{include file="common/side"}
{/block}
{block name="right"}{/block}
{block name="footer"}
{include file="common/footer"}
{/block}
</div>
{block name="script"}
{/block}
</body>
</html>