<div class="layui-footer footer footer-demo" id="admin-footer">
    <div class="layui-main">
        <p>2018 &copy;
            <a href="http://www.ilt.me/">IT技术宅</a>
        </p>
    </div>
</div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<!--锁屏模板 start-->
<script type="text/template" id="lock-temp">
    <div class="admin-header-lock" id="lock-box">
        <div class="admin-header-lock-img">
            <img src="images/0.jpg"/>
        </div>
        <div class="admin-header-lock-name" id="lockUserName">beginner</div>
        <input type="text" class="admin-header-lock-input" value="输入密码解锁.." name="lockPwd" id="lockPwd" />
        <button class="layui-btn layui-btn-small" id="unlock">解锁</button>
    </div>
</script>
<!--锁屏模板 end -->

<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/static/datas/nav.js"></script>
<script type="text/javascript" src="/static/plugins/sortable/Sortable.min.js"></script>
<script src="/static/js/index.js"></script>
