<div class="layui-header header header-demo">
    <div class="layui-main">
        <div class="admin-login-box">
            <a class="logo" style="left: 0;" href="#">
                <span style="font-size: 22px;">宅音乐播放器</span>
            </a>
            <div class="admin-side-toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </div>
        <ul class="layui-nav admin-header-item">
            <!--<li class="layui-nav-item">
                <a href="javascript:;">清除缓存</a>
            </li>-->
            <li class="layui-nav-item">
                <a href="javascript:;" class="admin-header-user">
                    <img src="https://q1.qlogo.cn/g?b=qq&nk={$Think.session.loginUser.qq ? $Think.session.loginUser.qq : 1 }&s=100"/>
                    <span>{$Think.session.loginUser.username}</span>
                </a>
                <dl class="layui-nav-child">
                    <!--<dd>-->
                        <!--<a href="javascript:;"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>-->
                    <!--</dd>-->
                    <dd>
                        <a href="/admin/user/resetPwd"><i class="fa fa-user-circle" aria-hidden="true"></i> 修改密码</a>
                    </dd>
                    <!--<dd>-->
                        <!--<a href="javascript:;"><i class="fa fa-gear" aria-hidden="true"></i> 设置</a>-->
                    <!--</dd>-->
                    <dd>
                        <a href="/admin/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>